.layout {
  display: flex;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.condition {
  line-height: 50px;
}

.status {
  width: 20px;
  display: inline-flex;
}